/*.apexcharts-legend {
    display: none !important;
}*/
.apexcharts-active {
  background-color: rgba(28, 28, 28, 0.6) !important;
}

.tooltipHead {
  padding: 5px 5px;
  border-radius: 4px;
  width: auto;
  min-width: 150px;
  color: #ffffff;
  font-size: 12px;
}
.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}